#body-h{
    font-family: 'Ubuntu', sans-serif;
    margin:0px;
    padding:0px;

}

header{
   
    height: 10%;
    width: 100%;
    background-color: #f2ebde;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #2c3c5b; 
}

#saludo-h1{
    color: #e4a484;
    font-size: 300%;
}
#saludo-h2{
    color: #e4a484;
    font-size: 150%;
}


#navbar{
    
    font-size: 150%;
    align-items: right;
    padding-right: 2.5cm;
}

.nav-link{
    margin-left: 1cm;
    text-decoration: none;
    color: #2c3c5b;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

a.nav-link:hover{
    background-color:#e4a484; 
}

.img-grid{
  
    
    max-width: 200px; 
    height: 140px;
    cursor: pointer;
    
}

#proyectos{
    background-color: #4c8a86 ;
    height: 100%;
    width: 100%;
    margin-top: -1cm;
    
    
}



.proyectos-h1{
    text-align: center;
    padding-top: 2cm;
    color: #f2ebde;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 200%;
}

hr{
    width: 60%;
    margin-left: 21%;
    margin-right: 20%;
    border-width: 2px;
    color:#f2ebde;
}



.proyectos-grid{
    
    width: 100%;
    height: 40%;
    display:flex;
    justify-content: center;
    padding-top: 1cm;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #2c3c5b;
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    font-weight: 200;
}
    
}



.grid-h1{
    text-align: center;
    align-self: center;
    color: #2c3c5b;;
}

/* Para la caja de Github*/

#misProyectosGithub{

    background-color:#e4a484 ;
    width: 100%;
    height: 50%;
    margin-top: -1cm;
    

}
a.proyectos-grid:hover{
    color:#f2ebde;
    font-size: 120%;
    width: 30%;
}

/*.cajitaDeProyectos {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: auto;
    grid-gap: 20px;
}
*/

#contendedorDeProyectosGithub{
    background-color: #e4a484;
    padding: 5%;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #2c3c5b; 
}

#contacto-h1{
    padding-top: 2cm;
    color: #f2ebde;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 200%;
}

#navbar-contacto{
    margin-left: 1cm;
    text-align: left;
}

.nav-link-c{
    text-decoration: none;
    color: #f2ebde;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#logo-inst{
    max-width: 30px;
    vertical-align: middle;
}

#logo-email{
    max-width: 30px;
    vertical-align: middle;
}


/* Para JavaScript */
.imagenGrande{
    display: flex;
    width: 100%;
    justify-content: center;   
    
    
}

.previo, .siguiente{

    position: absolute;
    cursor: pointer;
    top: 140%;
    width: 5%;
    color: beige;
    transition: 0.6s ease;
    padding-left: 3%;
}
#imagenAgrandada{
    
    height: 500px;
    padding-top: 1cm;
}
.siguiente{
right: 0;
}

.previo:hover, .siguiente:hover{
    background-color: rgb(36, 124, 80);
}

